<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<%= link_to new_post_path do %>
  <i class="fa fa-music" aria-hidden="true"></i> New Post
<%end%>
<div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="well">
        <h3><%= post.author %></h3>
        <p><%= post.post_entry %></p>
       <p><%= image_tag post.avatar.url(:medium) %></p>

      <div class="dropdown">
        <button class="dropbtn">Options</button>
        <div class="dropdown-content">
          <a> <%= link_to 'Show', post%></a>
          <a> <%= link_to 'Edit', edit_post_path(post)%> </a>
          <a>  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>


      <%= link_to "", like_post_path(post), class:"glyphicon glyphicon-thumbs-up like"%>
   <%= link_to "" , dislike_post_path(post), class:"glyphicon glyphicon-thumbs-down unlike" %>


      <div class="score"> <%= post.score %> </div>


</div>
</div>
<% end %>
</div>
 